@import '../../../styles/colors.scss';

.menu {
  &__item {
    padding-right: 2em;
  
    &__link {
      text-transform: uppercase;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $blue
      }

      &:hover::before {
        content: "\25CB";
        color: $blue;
        font-weight: 900; 
        display: inline-block;
        width: 1.5em; 
        margin-left: -1em; 
      }
    }
  
    &::before {
      content: "\25CB";
      color: $blue;
      font-weight: 900; 
      display: inline-block;
      width: 1.5em; 
      margin-left: -1em; 
    }
  
    &:first-child::before {
      color: transparent;
    }

  }

  &.responsive &__item::before {
    color: transparent;
  }

  &.responsive &__item {
    padding: 0.5em;
    width: 100%;
  }
}


@media (min-width: 1024px) {
  .menu {
    &__item {
      &__link {
  
        &:hover {
          color: $white;
        }
  
        &:hover::before {
          content: "";
          width: 1.5em; 
          margin-left: -1.5em; 
        }
      }
    }
  }
}