@import '../styles/colors.scss';

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
  background: $light_gray;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 2em;
  margin: 1.5em 0;
}

@media(min-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

